<h1>Good one.</h1>

<%= image_tag("tiger.jpg") %>
<p>
<div style="background-color: #BADA55"><p>♥</p></div>
<div style="background-color: #DE1E7E"><p>♥</p></div>
<div style="background-color: #10ADED"><p>♥</p></div>
<div style="background-color: #FF9900"><p>♥</p></div>
<div style="background-color: #501ACE"><p>♥</p></div>
</p>
